/* styles.css */

* {
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #009688;
}

#sub-heading {
    font-size: 2.5rem;
    margin-top: 1rem;
}

header {
    background: #F5F5DE;
    color: #1E1E1E;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li {
    position: relative;
    margin-bottom: 0.25rem;
}

nav ul li a {
    color: #1E1E1E;
    text-decoration: none;
    padding: 0.5rem 1rem;;
}

nav ul li a:hover {
    color: #009688;
    border-radius: 4px;
    transition: color 0.2s ease;
}

#nav-indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0;
    background: #ff7043;
    transition: all 0.4s ease;
    border-radius: 17%;
}

section {
    padding: 4rem;
}

#hero {
    background: url('../img/hero.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F5F5DE;
    text-align: center;
}

footer {
    background: #F5F5DE;
    color: #1E1E1E;
    text-align: center;
    padding: 1rem;
}

/* Shoelace component styles */
sl-button {
    margin-top: 1rem;
    --sl-button-background-color: #ff7043; /* Coral orange button */
    --sl-button-color: #FFFFFF; /* White text */
}

sl-progress-bar {
    width: 100%;
    margin-top: 1rem;
    --indicator-color: #ff7043; /* Coral orange progress bar */
}

sl-tab-group {
    margin-top: 2rem;
    --indicator-color: #ff7043; /* Coral orange active tab */
}

sl-tooltip {
    margin-top: 1rem;
    --tooltip-background-color: #ff7043; /* Coral orange tooltip */
}

sl-switch::part(base) {
    margin-top: 1rem;
    --thumb-color: #ff7043; /* Coral orange switch */
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
